.hero-text >.merge >input{
    height: 40px !important;
    /* display: flex; */
    align-items: center;
    text-decoration: none;
    border: none;
    outline: none;
    flex-direction: row;
}
nav{
    box-shadow: 0 0 5px rgb(61, 203, 4);
    border-radius: 20px;
}
nav> .navbar-nav >li:hover{
    color: yellowgreen;
}
.reason-text{
    margin-top: 30px !important;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 290px !important;
    text-align: center;
    padding: 10px;
    border: none !important;
    width: 300px !important;
}
.car2{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}
.card1{
    width: 300px !important;
    display: flex;
    flex-direction: column;
    height: 330px !important;
    gap: 10px;
    margin: 0 auto;
}
.card1 > span>img{
    width: 280px !important;
    display: flex;
    justify-content: center;
    height: 150px !important;
}
.card:hover{
    box-shadow: 0 0 20px rgb(61, 203, 4);

}
.menu-list{
    margin: 0 auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.menu-list >span>img{
    margin: 0 auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-list >ul{
    text-decoration: none !important;
    list-style-type: none !important;
    border-left: 2px solid yellow;
}
.footer-start{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.subscribtion >span{
    width: 500px ;
    border-radius: 20px;
    box-shadow: 0 0 10px gray;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 20px;
}
